@charset "UTF-8";

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
        [logo] 400px
        [title] auto
        [login] auto;
}

figure {
    grid-column: 1 / -1;
    grid-row: logo / span 1;
    justify-self: center;
    align-self: end;
}

h1 {
    grid-column: 1 / -1;
    grid-row: title / span 1;
    justify-self: center;
    align-self: start;
    font-size: 4em;
}

section {
    grid-column: 1 / -1;
    grid-row: login / span 1;
    justify-self: center;
    align-self: end;
    margin-top: 20px;
}

#id_loginId {
    width: 256px;
}
#id_password {
    width: 256px;
}

.ui-float-label {
    margin-bottom: 20px;
}


