@charset "UTF-8";

body {
    display: grid;
    grid-template-columns: 20px 230px 1fr 20px;
    grid-template-rows:
        [head] 60px
        [main] 700px;
    grid-row-gap: 40px;
    row-gap: 40px;
    grid-column-gap: 20px;
    column-gap: 20px;
}

header {
    grid-column: 1 / -1;
    grid-row: head / span 1;
    background-color: #262626;
    color: #ffffff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

header h2 {
    margin-top: 10px;
    margin-left:100px;
}

#id_title_logo {
    grid-column: 1 / -1;
    grid-row: head / span 1;
    justify-self: start;
    align-self: center;
    margin-left: 40px;
    z-index: 1;
    width: 40px;
}

#userIcon {
    grid-column: 1 / -1;
    grid-row: head / span 1;
    justify-self: end;
    align-self: center;
    margin-right: 40px;
    margin-top: 10px;
}

nav {
    grid-column: 2 / 3;
    grid-row: main / span 1;
}

/*
#id_munu_ul {
    list-style-type: none;
    padding: 0;
}
#id_munu_ul li a {
    display: block;
    padding: 0.5em 0;
    width: 150px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
}
#id_munu_ul li a:hover {
    background-color: #f5f5f5;
}
*/


#container {
    grid-column: 3 / 4;
    grid-row: main / span 1;
}

span[title='日'] {
    color: #b94a48;
}

span[title='土'] {
    color: #116fbf;
}

span.cal-sun, span.cal-holiday {
    color: #b94a48;
    background-color: #fae6e3;
}

span.cal-sat {
    color: #116fbf;
    background-color: #dceef7;
}